.hero-slider{
 margin-top: 0px;
}

@media screen and (min-device-width: 300px) and (max-device-width: 768px){
.hero-slider {
    margin-top: 0px;
}
}

.shop-header{
    padding-top: 0px;
}

.product-image-slider-wrapper{
    padding-top: 0px;
}

.new-back {
    position: absolute;
    z-index: 1;
    top: 90px;
    left: 10px;
}
.my-style{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-style a{
    text-decoration: none;
    width: 20vw;
    margin-top: 5vh;
    color: white;
    border-radius: 20px;
    background-color: #100954;
}
.my-style img{
    max-width: 70vw;
}
.bgnew{
    background-color: #EFEFEF;
    padding: 20px;
}
.address-comtainer{
    display: flex;
    align-items: center;    
}
.address-comtainer input{
    width: 15px;
}
.address-comtainer label{
    margin-bottom: 0px;
}
.contact-page-content__image{
    margin-top: 0vh;
}
.order-new-class{
    padding-top: 40px;
}
.cartbyme{
    margin-top: 0px;
} 
.newClass{
    margin-top: 0px;
}
/* rating */
.rating-container {
    text-align: center;
    max-width: 300px;
    margin: 20px -20px
  }
  
  .star-rating {
    direction: rtl;
    display: inline-block;
  }
  
  .star-rating input[type="radio"] {
    display: none;
  }
  
  .star-rating label {
    color: #bbb;
    font-size: 30px;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label,
  .star-rating input[type="radio"]:checked ~ label {
    color: #7415CB;
  }

  .button-banner{
    padding: 0px 60px;
    /* width: 80vw; */
    /* margin: 0 auto; */
    background-color: #F7F8F8;
    display: flex;
    justify-content: space-between;
    /* margin-left: 10px; */
  }
  .button-container{
    display: flex;
    justify-content: space-evenly;
    height: 15vh;
    width: 90vw;
    align-items: center;
    background-color: white;

  }
  .button-container .button{
    border: none;
    
  }


  .button-container {
    display: flex;
    justify-content: space-evenly;
    height: 15vh;
    width: 90vw;
    align-items: center;
    background-image: linear-gradient(to right, #7415CB, purple);
}


.button-container .text{
    color: white;

    font-size: 1.5rem;
}
.button-container .button button {
    padding: 5px 40px;
    border: none;
    border-radius: 21px;

    font-size: 1.2rem;
}
.button-container .button button:hover{
    scale: 1.2;
}
