.hero-slider{
 margin-top: 0px;
}

@media screen and (min-device-width: 300px) and (max-device-width: 768px){
.hero-slider {
    margin-top: 0px;
}
}

.shop-header{
    padding-top: 0px;
}

.product-image-slider-wrapper{
    padding-top: 0px;
}

.new-back {
    position: absolute;
    z-index: 1;
    top: 90px;
    left: 10px;
}
.my-style{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-style a{
    text-decoration: none;
    width: 20vw;
    margin-top: 5vh;
    color: white;
    border-radius: 20px;
    background-color: #100954;
}
.my-style img{
    max-width: 70vw;
}
.bgnew{
    background-color: #EFEFEF;
    padding: 20px;
}
.address-comtainer{
    display: flex;
    align-items: center;    
}
.address-comtainer input{
    width: 15px;
}
.address-comtainer label{
    margin-bottom: 0px;
}
.contact-page-content__image{
    margin-top: 0vh;
}
.order-new-class{
    padding-top: 40px;
}
.cartbyme{
    margin-top: 0px;
} 
.newClass{
    margin-top: 0px;
}